@charset "utf-8";

ul#wp-admin-bar-top-secondary.ab-top-secondary.ab-top-menu {
float: left;
}
.ab-top-menu{
	float:left;
}
#wphead{
	width:98%;
	height:18px;
	padding:7px 0 7px 0;
	margin-left:2px;
	border-bottom:1px solid #DFDFDF;
}
#ab_icon, #wp_site_title{
	float:left;
}
#ab_icon {
	display:block;
	width: 16px;
	height: 16px;
}
#wp_site_title{
	padding-left:8px;
	font-size:16px;
	line-height:1;
	font-family:Georgia,"Times New Roman",Times,serif;
}
#wp_site_title a{
	text-decoration:none;
}
#wp_site_title a:hover{
	text-decoration:underline
}
#wp_site_title a, #wp_site_title a:hover{
	color:#464646;
}
#wp_user{;
	float:right;
	position:relative;
	cursor:pointer;
	margin:-4px 0 4px 0;
	padding:0 0 0 8px;
}
#user_info, #user_info_arrow{
	float:left;
}
#user_info{
	float: left;
	font-size: 12px;
	line-height: 26px;
	height: 25px;
	position: relative;
	z-index: 49;
	border-style: solid;
	border-width: 0;
	padding: 0 2px 0 6px;
	color:#555;
}
#wp_user:hover #user_info {
	text-decoration:underline;
	color:#185069;
}
#user_info_arrow{
	width:18px;
	height:20px;
	background: transparent url(../images/arrows.png) no-repeat 0px 5px;
}
#wp_user:hover #user_info_arrow,
#user_info.active #user_info_arrow {
	background: transparent url(../images/arrows-dark.png) no-repeat 0px 5px;
}
#user_info_links{
	text-align:left;
	float:left;
}
#user_info_links{
	position:absolute;
	display:none;
	width:100%;
	z-index:100;
	top:26px;
	left:-1px;
	background:#FFFFFF;
}
#user_info_links ul {
	padding:0;
	margin:0;
}
#user_info_links ul li{
	height:28px;
	line-height:28px;
	padding:0 0 0 8px;
	margin:0;
}
#user_info_links ul li a{
	text-decoration:none;
}
#user_info_links ul li:hover a{
	color:#D54E21;
	text-decoration:none;
}
#user_info_links li:hover {
	background-color: #DFDFDF;
}
#wp_user.active{
	background-color: #f7fcfe; /* Fallback */
	background-image: -ms-linear-gradient(bottom, #f7fcfe, #f9f9f9); /* IE10 */
	background-image: -moz-linear-gradient(bottom, #f7fcfe, #f9f9f9); /* Firefox */
	background-image: -o-linear-gradient(bottom, #f7fcfe, #f9f9f9); /* Opera */
	background-image: -webkit-gradient(linear, left bottom, left top, from(#f7fcfe), to(#f9f9f9)); /* old Webkit */
	background-image: -webkit-linear-gradient(bottom, #f7fcfe, #f9f9f9); /* new Webkit */
	background-image: linear-gradient(bottom, #f7fcfe, #f9f9f9); /* proposed W3C Markup */
	border:1px solid #CCC;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px;
	margin:-5px -1px 0 0;
}
#user_info_links.active{
	display:block;
	border-bottom:1px solid #CCC;
	border-left:1px solid #CCC;
	border-right:1px solid #CCC;
	border-top:none;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-radius: 0px 0px 3px 3px;
	border-radius: 0px 0px 3px 3px;
}
.clearfix:before, .clearfix:after, .menu ul:after{content:"\0020"; display:block; height:0; overflow:hidden}
.clearfix:after{clear:both; visibility:hidden}
.clearfix{zoom:1}